<!doctype html>
<html class="" lang="en">
	<head>
		<meta charset="utf-8">
		<title>The Bubble Index - Browse Asia</title>
		#{header /}
			<div class="main-menu-wrapper">
				<div class="zone-main-menu zone clearfix">
					<div class="main-menu-container container-24">
						<div class="main-menu block">
							<ul id="sf-menu">
								<li class="empty">
									<div></div>
								</li>
								<li class="first">
									<a href="@{Application.index()}">HOME</a>
								</li>
								<li class="">
									<a href="@{Pages.method()}">ABOUT</a>
								</li>
								<li class="">
									<a href="@{Pages.examples()}">EXAMPLES</a>
								</li>
								<li class="">
									<a href="@{Pages.links()}">LINKS</a>
								</li>
								<li class="neighbour-left">
									<a href="@{Pages.contact()}">CONTACT</a>
								</li>
								<li class="active">
									<a href="@{Application.browse()}">BROWSE</a>
								</li>
								<li class="last neighbour-right">
									<a href="@{Pages.search()}">SEARCH</a>
								</li>
								<li class="empty">
									<div></div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- end of .zone-main-menu -->
			</div><!-- end of .main-menu-wrapper -->
		</header>
		<section class="section content">
			<div class="content-wrapper">
				<div class="zone-content zone clearfix">
					<div class="project-header-container container-24">
						<div class="project-header block">
							<div class="block-title">
								<h1>Browse Asia</h1>
							</div>
						</div>
					</div>
				<div class="content-wrapper">
				<div class="zone-content equalize zone clearfix">
					<div class="content-container container-24">
						<div class="welcome block">
							<div class="welcome-globe clearfix">
								<img class="globe" src="@{'/public/images/globe.png'}" alt="" height="244" width="244"/>
								<img class="globe-background" src="@{'/public/images/globe-background.png'}" alt="" height="201" width="620"/>
								<a href="@{Application.browselist('China')}" class="left edge top">CHINA</a>
								<a href="@{Application.browselist('HongKong')}" class="right edge top">HONG KONG</a>
								<a href="@{Application.browselist('SouthKorea')}" class="left middle top">SOUTH KOREA</a>
								<a href="@{Application.browselist('India')}" class="right middle top">INDIA</a>
								<a href="@{Application.browselist('Israel')}" class="left middle bottom">ISRAEL</a>
								<a href="@{Application.browselist('Russia')}" class="right middle bottom">RUSSIA</a>
								<a href="@{Application.browselist('Singapore')}" class="left edge bottom">SINGAPORE</a>
								<a href="#" class="right edge bottom">DUBAI (coming soon)</a>
							</div>
						</div>
					</div><!-- end of .content-container -->
				</div><!-- end of .zone-content -->
			</div><!-- end of .content-wrapper -->
		</section>
		#{footer /}
		#{scripts /}
	</body>
</html>
