<!doctype html>
<html class="" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="The Bubble Index" /><meta name="description" content="The Bubble Index measures Log-Periodic Power Law Oscillations in traded assets. These oscillations are precursory indicators of stock market bubbles, crashes and corrections."/>
		<title>The Bubble Index - Home</title>
		#{header /}
			<div class="main-menu-wrapper">
				<div class="zone-main-menu zone clearfix">
					<div class="main-menu-container container-24">
						<div class="main-menu block">
							<ul id="sf-menu">
								<li class="empty neighbour-left">
									<div></div>
								</li>
								<li class="first active">
									<a href="@{Application.index()}">HOME</a>
								</li>
								<li class="neighbour-right">
									<a href="@{Pages.method()}">ABOUT</a>
								</li>
								<li class="">
									<a href="@{Pages.examples()}">EXAMPLES</a>
								</li>
								<li class="">
									<a href="@{Pages.links()}">LINKS</a>
								</li>
								<li class="">
									<a href="@{Pages.contact()}">CONTACT</a>
								</li>
								<li class="">
									<a href="@{Application.browse()}">BROWSE</a>
								</li>
								<li class="last">
									<a href="@{Pages.search()}">SEARCH</a>
								</li>
								<li class="empty">
									<div></div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- end of .zone-main-menu -->
			</div><!-- end of .main-menu-wrapper -->
		</header>
		<section class="section content">
			<div class="search-wrapper clearfix">
				<div class="zone-search zone clearfix">
					<div class="search-container container-24">
						<div class="search block">
							<form id="default-search" class="default-search clearfix" method="get" action="@{Application.searchResults()}">
								<input type="text" name="search" id="search-what" class="text-input-black input-text" placeholder="Keyword/Ticker..." required/>
							</form>
						</div>
					</div>
				</div><!-- end of .zone-search -->
			</div><!-- end of .search-wrapper -->
			<div class="map-wrapper">
				<div id="map" class="map">
				</div>
			</div><!-- end of .map-wrapper -->
			<div class="content-wrapper">
				<div class="zone-content equalize zone clearfix">
					<div class="content-container container-16">
						<div class="welcome block">
							<div class="block-title">
								<h1>Welcome</h1>
							</div>
							<div class="welcome-text">Welcome to The Bubble Index, an index which measures Log-Periodic Power Law Oscillations in traded assets. Either select from a category below or enter a ticker symbol/keyword in the above search field.</div>
							<div class="welcome-globe clearfix">
								<img class="globe" src="@{'/public/images/globe.png'}" alt="" height="244" width="244"/>
								<img class="globe-background" src="@{'/public/images/globe-background.png'}" alt="" height="201" width="620"/>
								<a href="@{Application.browselist('Indices')}" class="left edge top">MARKETS</a>
								<a href="@{Application.browselist('Currencies')}" class="right edge top">CURRENCIES</a>
								<a href="@{Application.browselist('Commodities')}" class="left middle top">COMMODITIES</a>
								<a href="@{Application.browseAmericas()}" class="right middle top">AMERICAS</a>
								<a href="@{Application.browseAsia()}" class="left middle bottom">ASIA</a>
								<a href="@{Application.browseEurope()}" class="right middle bottom">EUROPE</a>
								<a href="@{Application.browsePacific()}" class="left edge bottom">PACIFIC</a>
								<a href="@{Application.browseComposite()}" class="right edge bottom">COMPOSITE</a>
							</div>
						</div>
					</div><!-- end of .content-container -->
					#{sidebar /}
				</div><!-- end of .zone-content -->
			</div><!-- end of .content-wrapper -->
			<div class="partners-wrapper">
				<div class="zone-partners zone clearfix">
					<div class="partners-container container-24">
						<div class="partners block">
							<div class="block-title background-white">
								<h4>LINKS</h4>
							</div>
							<a href="//thebubbleindex.codeplex.com" class="partner">
							Source Code / Download
							</a>
							<a href="http://tasmania.ethz.ch/pubfco/fco.html" class="partner">
								Financial Crisis Observatory
							</a>
							<a href="http://lpplmarketwatch.com" class="partner">
							LPPL Marketwatch
							</a>
							<a href="https://anautonomousagent.com" class="partner">
							An Autonomous Agent
							</a>
						</div>
					</div>
				</div><!-- end of .zone-partners -->
			</div><!-- end of .partners-wrapper -->
			<div class="interlayer"></div>
		</section>
		#{footer /}		
		#{scripts /}
		<script type="text/javascript" src="@{'/public/scripts/autocomplete.js'}"></script>
	</body>
</html>
