<!doctype html>
<html class="" lang="en">
	<head>
		<meta charset="utf-8">
		<title>The Bubble Index - Search Results</title>
		#{header /}
			<div class="main-menu-wrapper">
				<div class="zone-main-menu zone clearfix">
					<div class="main-menu-container container-24">
						<div class="main-menu block">
							<ul id="sf-menu">
								<li class="empty">
									<div></div>
								</li>
								<li class="first">
									<a href="@{Application.index()}">HOME</a>
								</li>
								<li class="">
									<a href="@{Pages.method()}">ABOUT</a>
								</li>
								<li class="">
									<a href="@{Pages.examples()}">EXAMPLES</a>
								</li>
								<li class="">
									<a href="@{Pages.links()}">LINKS</a>
								</li>
								<li class="">
									<a href="@{Pages.contact()}">CONTACT</a>
								</li>
								<li class="neighbour-left">
									<a href="@{Application.browse()}">BROWSE</a>
								</li>
								<li class="last active">
									<a href="@{Pages.search()}">SEARCH</a>
								</li>
								<li class="empty">
									<div></div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- end of .zone-main-menu -->
			</div><!-- end of .main-menu-wrapper -->
		</header>
		<section class="section content">
			<div class="content-wrapper">
				<div class="zone-content equalize zone clearfix">
					<div class="content-container container-16">
						<div class="companies-listings block">
							<div class="block-title">
								<h1>Search Results</h1>
							</div>
							<p>
				Sorry! The Bubble Index can not find your query. Go to the Forum to request your desired stock or index. Or send me an email.
							</p>
						</div>
					</div><!-- end of .content-container -->
				#{sidebar /}
				</div><!-- end of .zone-content -->
			</div><!-- end of .content-wrapper -->
			<div class="interlayer"></div>
		</section>
		#{footer /}
		#{scripts /}
	</body>
</html>
