<footer class="section">
	<div class="footer-wrapper">
		<div class="zone-footer zone clearfix">
			<div class="footer-container container-24">
				<div class="website-short-description block">
					<i class="sprite sprite-logo-small"></i>
					<div class="description-text">
								The Bubble Index is a non-profit, open-source tool designed to help investors, economists, and social scientists identify and diagnose asset bubbles in real time.
					</div>
				</div>
				<div class="twitter-feed block">
				<h3 class="title">Recent Headlines</h3>
					<ul>
						<li class="first">
							<a href="http://thebubbleindex.lefora.com" class="text-colorful">Forum</a>
						</li>
						<li>
							<a href="//thebubbleindex.codeplex.com" class="text-colorful">Source Code</a>
						</li>
						<li>
							<a href="http://lpplmarketwatch.com" class="text-colorful">Blog</a>
						</li>
						<li>
							<a href="@{Pages.legal()}">Legal</a>
						</li>
					</ul>
				</div>
				<div class="recent-posts block">
				<h3 class="title">Recent Posts</h3>
					<ul>
						<li class="first">
							<a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/post/2016/06/Mean Value Window Plot/" class="text-colorful">Mean Value vs. Window</a>
						</li>
						<li>
							<a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/page/3dcontourexamples/" class="text-colorful">3D Contour Examples</a>
						</li>
						<li>
							<a href="https://www.scribd.com/user/224680756/thebubbleindex" class="text-colorful">Documents</a>
						</li>
					</ul>
				</div>
				<div class="flickr-feed block">
					<h3 class="title">Flickr Feed</h3>
					<div id="flickr-feed"></div>
				</div>
			</div>
		</div><!-- end of .zone-footer -->
	</div><!-- end of .footer-wrapper -->
		<div class="copyright-wrapper">
				<div class="zone-copyright zone clearfix">
					<div class="copyright-left-container container-12">
						<div class="copyright block">&copy; The Bubble Index. All Rights Reserved.</div>
					</div>
					<div class="copyright-right-container container-12">
						<div class="social-links block">
								<a href="//www.facebook.com/thebubbleindex">
								<i class="sprite sprite-facebook-icon"></i>
							</a>
							<a href="//twitter.com/TheBubbleIndex">
								<i class="sprite sprite-twitter-icon"></i>
							</a>
							<a href="http://lpplmarketwatch.com">
								<i class="sprite sprite-google-icon"></i>
							</a>
							<a href="https://anautonomousagent.com">
								<i class="sprite sprite-linkedin-icon"></i>
							</a>
							<a href="//thebubbleindex.codeplex.com">
								<i class="sprite sprite-pinterest-icon"></i>
							</a>
							<a href="http://thebubbleindex.lefora.com">
								<i class="sprite sprite-dribbble-icon"></i>
							</a>
						</div>
					</div>
				</div><!-- end of .zone-copyright -->
			</div><!-- end of .copyright-wrapper -->
		</footer>
