
		#{meta /}
		<link rel="stylesheet" href="@{'/public/css/allCss.css'}" />


		<!--[if lt IE 9]>
			<link rel="stylesheet" href="//streamone-thebubbleindex.netdna-ssl.com/public/css/styles-ie8-and-down.css" />
		<link rel="stylesheet" href="//streamone-thebubbleindex.netdna-ssl.com/public/css/colorbox.css" />
		<script type="text/javascript" src="//streamone-thebubbleindex.netdna-ssl.com/public/scripts/jquery-1.10.2.min.js"></script>
		<![endif]-->

	</head>

	<body>

		<header class="section">

			<div class="header-top-wrapper">
				<div class="zone-header-top zone clearfix">

					<div class="header-top-left container-8">

						<div class="user-links">
							<div class="login">
								<a href="#" id="login-link" class="login-link">Login</a>
								<form id="login-form" class="login-form">
									<input class="text-input-grey" type="text" placeholder="Login">
									<input class="text-input-grey" type="text" placeholder="Password">
									<a href="#" class="password-restore">Forgot Password?</a>
									<input class="button-2-colorful" type="submit" value="Login">
								</form>
							</div>
							<div class="register">
								<a href="#" id="register-link" class="register-link">Register</a>
								<form id="register-form" class="register-form">
									<input class="text-input-grey" type="text" placeholder="Login">
									<input class="text-input-grey" type="text" placeholder="Company Name">
									<input class="text-input-grey" type="text" placeholder="Contact Person Name">
									<input class="text-input-grey" type="text" placeholder="E-mail">
									<input class="text-input-grey" type="text" placeholder="Password">
									<input class="text-input-grey" type="text" placeholder="Repeat Password">
									<div href="#" class="fields-required">All Fields Are Required</div>
									<input class="button-2-colorful" type="submit" value="Register">
								</form>
							</div>
						</div>

					</div>

					<div class="header-top-right container-16">
	
						<div class="social-links block">
								<a href="//www.facebook.com/thebubbleindex">
								<i class="sprite sprite-facebook-icon"></i>
							</a>
							<a href="//twitter.com/TheBubbleIndex">
								<i class="sprite sprite-twitter-icon"></i>
							</a>
							<a href="http://lpplmarketwatch.com">
								<i class="sprite sprite-google-icon"></i>
							</a>
							<a href="https://anautonomousagent.com">
								<i class="sprite sprite-linkedin-icon"></i>
							</a>
							<a href="//thebubbleindex.codeplex.com">
								<i class="sprite sprite-pinterest-icon"></i>
							</a>
							<a href="http://thebubbleindex.lefora.com">
								<i class="sprite sprite-dribbble-icon"></i>
							</a>
						</div>

						<div class="languages block">
							<a href="#" class="en current">EN</a>
							<a href="#" class="fr">FR</a>
							<a href="#" class="it">IT</a>
							<a href="#" class="de">DE</a>
						</div>

					</div>

				</div><!-- end of .zone-header-top -->
			</div><!-- end of .header-top-wrapper -->

			<div class="header-wrapper">
				<div class="zone-header zone clearfix">

					<div class="header-left container-24">

						<div class="logo block">
							<a href="@{Application.index()}">
								<img src="@{'/public/images/logo.png'}" alt="" height="80" width="680"/>
							</a>
						</div>

					</div>

				</div><!-- end of .zone-header -->
			</div><!-- end of .header-wrapper -->
