#{meta /}
	<link rel="stylesheet" href="@{'/public/css/allCss.css'}" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="//streamone-thebubbleindex.netdna-ssl.com/public/css/styles-ie8-and-down.css" />
		<link rel="stylesheet" href="//streamone-thebubbleindex.netdna-ssl.com/public/css/colorbox.css" />
		<script type="text/javascript" src="//streamone-thebubbleindex.netdna-ssl.com/public/scripts/jquery-1.10.2.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="section">
			<div class="header-wrapper">
				<div class="zone-header zone clearfix">
					<div class="header-left container-24">
						<div class="logo block">
							<a href="@{Application.index()}">
								<img src="@{'/public/images/logo.png'}" alt="" height="80" width="680"/>
							</a>
						</div>
					</div>
				</div><!-- end of .zone-header -->
			</div><!-- end of .header-wrapper -->
