<div class="sidebar-container container-8">

						<div class="recently-added block">
							<div class="block-title">
								<h3>Data Status</h3>
							</div>
							<ul class="entries-list">
								<li class="clearfix">
									<a href="#" class="entry-title">Last Update</a>
									<div class="entry-excerpt">Aug. 14, 2016</div>
								</li>
							</ul>
						</div>
						<div class="latest-news block">
							<div class="block-title">
								<h3>Updates</h3>
							</div>
							<ul class="entries-list">
								<li class="clearfix">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TheBubbleIndex" data-widget-id="529674870309666816">Tweets by @TheBubbleIndex</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</li>
          	</ul>
						</div>

					</div><!-- end of .sidebar-container -->
