<!doctype html>
<html class="" lang="en">
	<head>
		<meta charset="utf-8">
		<title>The Bubble Index - Contact</title>
		#{header /}
			<div class="main-menu-wrapper">
				<div class="zone-main-menu zone clearfix">
					<div class="main-menu-container container-24">
						<div class="main-menu block">
							<ul id="sf-menu">
								<li class="empty">
									<div></div>
								</li>
								<li class="first">
									<a href="@{Application.index()}">HOME</a>
								</li>
								<li class="">
									<a href="@{Pages.method()}">ABOUT</a>
								</li>
								<li class="">
									<a href="@{Pages.examples()}">EXAMPLES</a>
								</li>
								<li class="neighbour-left">
									<a href="@{Pages.links()}">LINKS</a>
								</li>
								<li class="active">
									<a href="@{Pages.contact()}">CONTACT</a>
								</li>
								<li class="neighbour-right">
									<a href="@{Application.browse()}">BROWSE</a>
								</li>
								<li class="last">
									<a href="@{Pages.search()}">SEARCH</a>
								</li>
								<li class="empty">
									<div></div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- end of .zone-main-menu -->
			</div><!-- end of .main-menu-wrapper -->
		</header>
		<section class="section content">
			<div class="content-wrapper">
				<div class="zone-content equalize zone clearfix">
					<div class="content-container container-24">
						<div class="about-us block">
							<div class="block-title">
								<h1>Contact Us</h1>
							</div>
							<div class="employee-info clearfix">
								<div class="employee-info-social">
									<div class="employee-photo">
										<img src="@{'/public/images/content/binary.jpg'}" alt=""  height="249" width="250" />
									</div>
									<a href="//www.facebook.com/thebubbleindex" class="facebook"></a>
									<a href="//www.twitter.com/TheBubbleIndex" class="twitter"></a>
									<a href="//thebubbleindex.codeplex.com/" class="google"></a>
								</div>
								<div class="employee-info-description">
									<div class="name">Donation</div>
									<div class="position">Support the Site</div>
									<div class="description"><a class="coinbase-button" href="https://www.coinbase.com/checkouts/877a83366d0f3e5a19731467f5e7bb70" data-code="877a83366d0f3e5a19731467f5e7bb70" data-button-style="custom_small">Donate Bitcoins</a></div>
								</div>
							</div>
							<div class="employee-info clearfix">
								<div class="employee-info-social">
									<div class="employee-photo">
										<img src="@{'/public/images/content/HTML.jpg'}" alt="" height="250" width="250" />
									</div>
									<a href="//www.facebook.com/thebubbleindex" class="facebook"></a>
									<a href="//www.twitter.com/TheBubbleIndex" class="twitter"></a>
									<a href="//thebubbleindex.codeplex.com/" class="google"></a>
								</div>
								<div class="employee-info-description">
									<div class="name">IT</div>
									<div class="position">Website/Database Services</div>
									<div class="description">I manage the website and the functionality of its services.</div>
								</div>
							</div>
							<div class="employee-info clearfix">
								<div class="employee-info-social">
									<div class="employee-photo">
										<img src="@{'/public/images/content/monkey-business.jpg'}" alt="" height="500" width="500" />
									</div>
									<a href="//www.facebook.com/thebubbleindex" class="facebook"></a>
									<a href="//www.twitter.com/TheBubbleIndex" class="twitter"></a>
									<a href="//thebubbleindex.codeplex.com/" class="google"></a>
								</div>
								<div class="employee-info-description">
									<div class="name">Mr. Market</div>
									<div class="position">Chief of Marketing</div>
									<div class="description">I manage the advertising. Follow us on Twitter @TheBubbleIndex</div>
								</div>
							</div>
						</div>
						<div class="separator"></div>
						<div class="company-details block">
							<div class="company-address">
								<div class="details-title">Address Details:</div>
								<div class="detail address">Street<br />Canada</div>
								<div class="detail phone">Phone: </div>
								<div class="detail email">
									<a href="https://anautonomousagent.com/2016/04/nerdy-method-to-encode-email-address-to-avoid-spam/">Contact Me</a>
								</div>
							</div>
							<div class="company-hours">
								<div class="details-title">Opening Hours:</div>
								<div class="detail">
									<span class="detail-label">Monday-Friday:</span>12am - 10pm
								</div>
								<div class="detail">
									<span class="detail-label">Saturday:</span>12am - 10pm
								</div>
								<div class="detail">
									<span class="detail-label">Sunday:</span>12am - 10pm
								</div>
							</div>
							<div class="clearfix"></div>
					<!--		<div class="company-map">
								<iframe src="https://maps.google.com/maps?q=toronto&amp;ie=UTF8&amp;hq=&amp;hnear=Toronto,+Toronto+Division,+Ontario,+Canada&amp;t=m&amp;z=10&amp;ll=43.653226,-79.383184&amp;output=embed"></iframe>
							</div>-->
						</div>
					</div><!-- end of .content-container -->
				</div><!-- end of .zone-content -->
			</div><!-- end of .content-wrapper -->
		</section>
		#{footer /}
		#{scripts /}
		<script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
	</body>
</html>
