<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
    <Appenders>
			<Console name="console-log" target="SYSTEM_OUT">
	            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
	        </Console>
        <RollingFile name="infoLogger" fileName="${log-path}/${env:USER}-thebubbleindex-info-${ctx:StartTime}.log" immediateFlush="true" append="false" filePattern="${log-path}/${env:USER}-thebubbleindex-info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
						<Policies>
							<SizeBasedTriggeringPolicy size="5MB"/>
						</Policies>
						<DefaultRolloverStrategy max="10"/>        
				</RollingFile>

        <RollingFile name="errorLogger" fileName="${log-path}/${env:USER}-thebubbleindex-errors-${ctx:StartTime}.log" immediateFlush="true" append="false" filePattern="${log-path}/${env:USER}-thebubbleindex-errors-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %class{36} %L %M %-5level - %msg%n"/>
						<Policies>
							<SizeBasedTriggeringPolicy size="5MB"/>
						</Policies>
						<DefaultRolloverStrategy max="10"/>        
				</RollingFile>

    </Appenders>
    <Loggers>
			<Logger name="mylogger" level="ALL" additivity="false">
				<AppenderRef ref="infoLogger" level="info"/>
				<AppenderRef ref="errorLogger" level="error"/>
			</Logger>
        <Root level="OFF" additivity="false">
					<AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>
