<ul class="main">
    <li><a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/index.html">Home</a></li>
    <li><a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/page/3dcontourexamples">3D Contour Examples</a></li>
    <li><a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/page/results">Results</a></li>
    <li><a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/page/links">Links</a></li>
    <li><a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/page/contact">Contact</a></li>
<li><a href="https://gateway.ipfs.io/ipns/QmPC1xcsMTDKFTWHLrGEaNTCEdceUf4wWRJhM5P4kDeUsv/post/">Archives</a></li>
</ul>

<!--<ul class="main">
    <li><a href="{{ .Site.BaseURL  }}/index.html">Home</a></li>
    <li><a href="{{ .Site.BaseURL  }}/page/3dcontourexamples">3D Contour Examples</a></li>
    <li><a href="{{ .Site.BaseURL  }}/page/results">Results</a></li>
    <li><a href="{{ .Site.BaseURL  }}/page/links">Links</a></li>
    <li><a href="{{ .Site.BaseURL  }}/page/contact">Contact</a></li>
    <li><a href="{{ .Site.BaseURL  }}/post/">Archives</a></li>
</ul>-->
